

{% extends 'twitterSentiment/base.html' %}

{% block title %}Testing Phase{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Categorize the tweets:</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}<br>{{ message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            Number of training data to load (out of {{ trlen }}): <input type="text" name="trnum" /> <br>
                            Number of testing data to load (out of {{ telen }}): <input type="text" name="tenum" /> <br><br>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
